@import "tailwindcss";

:root {
  --bg-color: #f9fafb;
  --text-color: #111827;
  --primary-color: #2C98A0;
  --secondary-color: #38b2a3;
  --accent-color: #4CCBA3;
  --error-color: #ff0000c9;
}

.float{
     animation: anim 1s ease-in-out  ;
}
@keyframes anim {
  0% {
   
    transform: scale(0);
    opacity: 0;
  }
 
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.anime{
    animation: scrollAnimation ease 3s;
}

@keyframes scrollAnimation {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


.animate-float{
  animation: float 3s ease-in-out infinite;
  transform-style: preserve-3d;
}


@keyframes float{
  0%,100% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
